body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(233, 233, 233);
    color: #4F4F4F;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

p {
    padding: 0px;
    margin: 0px;
}

#main {
    background-color: #FFFFFF;
    width: 402px;
    height: 469px;
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px 0px #0000001A;
}

#innerframe {
    background-color: #FFFFFF;
    width: 338px;
    height: 397px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: -0.035em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

#subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.035em;
    color: #828282;
}

.dnd-area {
    background-color: #F6F8FB;
    width: 338px;
    height: 218.90283203125px;
    top: 427.9657440185547px;
    left: 551.8204345703125px;
    border-radius: 12px;
    border: 1px dashed #97BEF4;
    /* border-style: dashed; */
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='black' stroke-width='1' stroke-dasharray='7%2c 11' stroke-dashoffset='11' stroke-linecap='round'/%3e%3c/svg%3e"); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

.dnd-area p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}

.dnd-area.active {
    background-color: #e0e7f0;
    width: 341px;
    height: 222px;
    border: 2px dashed #97BEF4;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #BDBDBD;
}

#or {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
}

button {
    width: 101px;
    height: 31.983793258666992px;
    border-radius: 8px;
    background: #2F80ED;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.035em;
    text-align: center;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
}
